.card-container {
	display: flex;
	justify-content: space-between;
	padding: 0.8rem;
	margin: 0.8rem;
	width: 274px;
	height: 50px;
}

.edit-icon {
	display: none;
	color: gray;
}
.edit-icon:hover {
	cursor: pointer;
}

.card-container:hover .edit-icon {
	display: block;
}
